{% extends 'base.html' %} {% block title %}View Books - Book Management{%
endblock %} {% block content %}
<div class="card p-4">
  <h1>Book Collection</h1>

  <h2>All Books</h2>
  {% if books %}
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Author</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>
          {% if book.image %}
          <img
            src="data:image/jpeg;base64,{{ book.image | b64encode }}"
            alt="Book Image"
            width="100"
          />
          {% else %} No Image {% endif %}
        </td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.owner.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No books have been added yet.</p>
  {% endif %}
</div>
{% endblock %}
